.background {
  background-color: #262626;
  height:200vh;
}
.Leha {
  margin-left:70%;
  height: 40%;
  width:30%;
}
img {
  height: 100%;
  width:100%;
}
.Kirya {
  margin-top: 10%;
  height: 40%;
  width:30%;
}
